# Environment Variables
.env
.env.*
!.env.example
!.env.template

# Agents
.agents
skills-lock.json
 
# Node.js / Next.js (Frontend)
# Dependencies
node_modules/
*/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build output
.next/
out/
build/
dist/
 
# Python / FastAPI (Backend)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
env/
venv/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / coverage
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Yarn / PnP
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Typescript
*.tsbuildinfo
next-env.d.ts

# Misc Frontend
coverage/
*.pem
.vercel/
.claude/