fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
prisma
supabase
pymupdf 
langchain
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-core
qdrant-client
fastembed
langchain-google-genai
langchain-community 
sentence-transformers
langgraph
langfuse>=2.0.0
upstash-redis>=1.0.0